.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
.github
.git
**/tsconfig.json
**/*.map
**/*.ts
.editorconfig
.eslintrc.json
.prettierrc
node_modules/**
out/test/**
test/**
.yarn/**
**/*.vsix
**/.DS_Store
coverage/**
.nyc_output/**
**/jest.config.js
**/webpack.config.js
**/.npmrc
**/.npmignore
**/package-lock.json
**/yarn.lock
**/.yarn-integrity
biome.json
.biome*